.activity-log ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.activity-log li {
  padding: 8px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.activity-log li:last-child {
  border-bottom: none;
}

.activity-log h3 {
  margin-bottom: 10px;
}
